<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <table>
        <tr>
            <th>ID</th>
            <th>Text title</th>
            <th>Text news</th>
        </tr>

        <tr th:each="news:${newsesList}">
            <td th:text="${news.id}"></td>
            <td th:text="${news.title}"></td>
            <td th:text="${news.news}"></td>
        </tr>
    </table>

</body>
</html>